<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organisation - Madspild</title>
    <link rel="stylesheet" href="/css/virksomhed/organisation.css">
</head>
<body>

<body>
<div class="page-wrapper">

<!-- Logo -->
<div class="logo">
    <img src="/images/organisation/logo.png" alt="Madspild Logo">
</div>

<!-- Log ind-knap i øverste højre hjørne -->
<div class="login-button">
    <a href="/login">🔐 Log ind</a>
</div>

<main class="container">

    <div class="org-image-links">
        <div class="org-link">
            <a href="/organisation/samarbejde">
                <img src="/images/organisation/indgaa_samarbejde.jpg" alt="Samarbejd med os">
                <p>Samarbejd med os</p>
            </a>
        </div>
        <div class="org-link">
            <a href="/organisation/inspiration">
                <img src="/images/organisation/faa_inspiration.jpg" alt="Få inspiration">
                <p>Få inspiration</p>
            </a>
        </div>
        <div class="org-link">
            <a href="/organisation/stoet">
                <img src="/images/organisation/stot_vores_arbejde.jpg" alt="Støt vores arbejde">
                <p>Støt vores arbejde</p>
            </a>
        </div>
    </div>



</main>


    <div class="newsletter-footer">
        <form class="newsletter-form">
            <label for="email">Tilmeld nyhedsbrev</label><br>
            <input type="email" id="email" placeholder="Organisationens e-mail" required>
            <button type="submit">Tilmeld</button>
        </form>
    </div>


    <p class="footer-copyright">© 2025 Danmark Mod Madspild</p>
    </footer>


</div> <!-- SLUT på .page-wrapper -->
</body>
