

body {
    background-color: #faf3e0; /* Varm beige farve */
    color: #2d3e3f; /* Matcher en mørkere grøn/sort tekstfarve */
}

h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #2d3e3f;
}

/*Styling af underrubik*/
.subheading{
    font-size: 1.2em;
    font-style: italic; /* Gør teksten kursiv */
    text-align: center;
    color: #2d3e3f; /* Match farven til resten af designet */
    margin-top: -10px; /* Justerer placeringen tættere på h1 */
}


/* styling til logoet*/
header {
    position: absolute;
    top: -40px;
    left: 10px;
    display: flex;
    align-items: center;
}

.logo {
    width: 180px;  /* Justér størrelsen */
    height: auto;  /* Bevarer proportionerne */
}



