<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Tilmeld dig nyhedsbrev</title>
    <link rel="stylesheet" href="/css/frontstyle.css">
</head>
<body>
<div class="top-wrapper">
    <div class="logo-left">
        <img src="/images/index/KorrektLogo.png" alt="Danmark mod Madspild logo" class="header-logo">
    </div>

    <div class="right-side">

        <a href="/" class="home-knap" title="Gå til forsiden">
            <img src="/images/index/HomeKnap.png" alt="Home" class="home-icon">
        </a>

        <div class="dropdown">
            <button class="dropdown-knap">Nyttige links ▾</button>
            <div class="dropdown-content">
                <a href="#">Kontakt os</a>
                <a href="/organisation">Om Danmark mod Madspild</a>
                <a href="#">Årsrapport</a>
                <a href="#">Interessant for organisationer</a>
            </div>
        </div>

        <div class="social-media-bar">
            <a href="https://www.facebook.com" target="_blank">
                <img src="/images/SocialMedia/facebookBlaa.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="/images/SocialMedia/IG.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <img src="/images/SocialMedia/Youtube.png" alt="YouTube">
            </a>
            <a href="https://www.linkedin.com" target="_blank">
                <img src="/images/SocialMedia/linkedin.png" alt="LinkedIn">
            </a>
            <a href="#">
                <img src="/images/SocialMedia/UKflag.png" alt="English">
            </a>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Søg på siden">
            <button>Søg</button>
        </div>

    </div>
</div>


<hr class="top-divider">


<p class="footer-copyright">© 2025 Danmark Mod Madspild</p>

</body>
</html>
