<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>
    <link rel="stylesheet" href="forbruger.css">
    <link rel="stylesheet" href="/css/frontstyle.css">
</head>


<header>
    <img src="/images/logo.png" class="logo">
</header>

<body>
<h1>Sådan undgår du madspild</h1>
<div class="subheading">
    <h2> Lær hvordan du reducerer madspild og gør en forskel – én bid ad gangen!</h2>

</div>

<!-- jeg har kun lavet det så jeg kan komme videre til køleskabs funktionen :) / Isabella-->
<div class="top-wrapper">
    <div class="brugergruppe-container">
        <div class="bruger-boks">
            <h3>Hvad har du i dit køleskab?</h3>
            <a href="/forbruger/koeleskab">
                <img src="/images/forbruger/Koeleskab.png" alt="Køleskab" class="forside-billeder">
            </a>
            <p>Har du overskudsvarer i køleskabet?
                Indtast dine ingredienser og få forslag til lækre retter baseret på det, du allerede har.</p>
        </div>
    </div>
</div>
Helloooo
</body>


</html>