<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forbruger</title>

    <link rel="stylesheet" href="/css/forbruger.css">
    <link rel="stylesheet" href="/css/frontstyle.css">

</head>


<div class="top-wrapper">
    <div class="logo-left">
        <img src="/images/index/KorrektLogo.png" alt="Danmark mod Madspild logo" class="header-logo">
        <a href="/">
            <img src="/images/index/KorrektLogo.png" alt="Danmark mod Madspild logo" class="header-logo">
        </a>
    </div>

    <div class="right-side">


        <div class="dropdown">
            <button class="dropdown-knap">Nyttige links ▾</button>
            <div class="dropdown-content">
                <a href="#">Kontakt os</a>
                <a href="/organisation">Om Danmark mod Madspild</a>
                <a href="#">Årsrapport</a>
                <a href="#">Interessant for organisationer</a>
            </div>
        </div>

        <div class="social-media-bar">
            <a href="https://www.facebook.com" target="_blank">
                <img src="/images/SocialMedia/facebookBlaa.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="/images/SocialMedia/IG.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <img src="/images/SocialMedia/Youtube.png" alt="YouTube">
            </a>
            <a href="https://www.linkedin.com" target="_blank">
                <img src="/images/SocialMedia/linkedin.png" alt="LinkedIn">
            </a>
            <a href="#">
                <img src="/images/SocialMedia/UKflag.png" alt="English">
            </a>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Søg på siden">
            <button>Søg</button>
        </div>

    </div>
</div>

<hr class="top-divider">

<!--
<header>
    <img src="/images/logo.png" class="logo">
</header> -->

    <div class="intro-wrapper">
        <img src="/images/index/stopMadspild.png" alt="Madspild baggrund" class="intro-baggrund">

        <div class="intro">
            <h1>Sådan undgår du madspild</h1>

            <div class="subheading">
                <p>Lær hvordan du reducerer madspild og gør en forskel – én bid ad gangen!</p>
                <p class="madspilds-info">
                    Madspild belaster både miljøet og økonomien. Hvert år går tonsvis af spiselig mad til spilde i Danmark.
                    <br>
                    <br>
                    Ved at ændre små hverdagsvaner kan du gøre en reel forskel – for både klimaet og din pengepung.
                    <a href="/forbruger/informationspage" class="madspild-link">Læs mere her</a> og få konkrete tips til at mindske madspild.
                </p>
            </div>
        </div>
    </div>

<body>

<div>

    <div class="brugergruppe-container">
        <div class="bruger-boks">
            <h3>Hvad har du i dit køleskab?</h3>
            <a href="/forbruger/koeleskab">
                <img src="/images/forbruger/nytKoeleskab.png" alt="Køleskab" class="forside-billeder">
            </a>
            <p>Har du overskudsvarer i køleskabet? - <br>
                Indtast dine ingredienser og få forslag til lækre retter baseret på det, du allerede har.</p>
        </div>

    <div class="bruger-boks">
        <h3>Frivillig</h3>
        <a href="/forbruger/frivilig">
        <img src="/images/forbruger/blivFrivillig.png" alt="Virksomhed" class="forside-billeder">
        </a>
        <p>Bliv frivillig hos Danmark mod Madspild og gør en forskel i kampen mod madspild – vi har brug for dig!</p>
    </div>

    <div class="bruger-boks">
        <h3>Tilmeld dig nyhedsbrev</h3>
        <a href="/forbruger/nyhedsbrev">
        <img src="/images/forbruger/tilmeldt.png" alt="Organisation" class="forside-billeder">
        </a>
        <p>Hold dig opdateret med tips, opskrifter og nyheder om madspild – tilmeld dig vores nyhedsbrev.</p>
    </div>
</div>
</div>

</body>
</html>