<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/css/frontstyle.css">
</head>
<body>


<div class="top-wrapper">
    <div class="logo-left">
        <a href="/">
            <img src="/images/index/KorrektLogo.png" alt="Danmark mod Madspild logo" class="header-logo">
        </a>
    </div>

    <div class="right-side">


        <div class="dropdown">
            <button class="dropdown-knap">Nyttige links ▾</button>
            <div class="dropdown-content">
                <a href="#">Kontakt os</a>
                <a href="/organisation">Om Danmark mod Madspild</a>
                <a href="#">Årsrapport</a>
                <a href="#">Interessant for organisationer</a>
            </div>
        </div>

        <div class="social-media-bar">
            <a href="https://www.facebook.com" target="_blank">
                <img src="/images/SocialMedia/facebookBlaa.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="/images/SocialMedia/IG.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <img src="/images/SocialMedia/Youtube.png" alt="YouTube">
            </a>
            <a href="https://www.linkedin.com" target="_blank">
                <img src="/images/SocialMedia/linkedin.png" alt="LinkedIn">
            </a>
            <a href="#">
                <img src="/images/SocialMedia/UKflag.png" alt="English">
            </a>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Søg på siden">
            <button>Søg</button>
        </div>

    </div>
</div>


<hr class="top-divider">


<div class="intro-wrapper">
    <img src="/images/index/stribetBanner.png" alt="Madspild baggrund" class="intro-baggrund">

    <div class="intro">
        <h1>Gør en forskel med os!</h1>
        <p>
            Sammen skaber vi en grønnere fremtid – <br>
            <Strong>Danmark mod Madspild</Strong> forbinder forbrugere, virksomheder og organisationer <br>
            for at bekæmpe madspild i hele landet.
        </p>
    </div>
</div>


<div class="brugergruppe-container">
    <div class="bruger-boks">
        <h3>Forbruger</h3>
        <a href="/forbruger">
            <img src="/images/index/logo1.png" alt="Forbruger" class="forside-billeder">
        </a>
        <p>Få tips til at undgå madspild, indtast ingredienser og få opskrifter – tilmeld dig nyhedsbrevet.</p>
    </div>

    <div class="bruger-boks">
        <h3>Virksomhed</h3>
        <a href="/virksomhed">
            <img src="/images/logo2virksomheder.png" alt="Virksomhed" class="forside-billeder">
        </a>
        <p>Opret en profil og del overskudsvarer med forbrugere og organisationer i dit lokalområde.</p>
    </div>

    <div class="bruger-boks">
        <h3>Organisation</h3>
        <a href="/organisation">
            <img src="/images/index/logo3.png" alt="Organisation" class="forside-billeder">
        </a>
        <p>Find donationer, skab aktiviteter og oplys om madspild på din egen side.</p>
    </div>
</div>
<p class="footer-copyright">© 2025 Danmark Mod Madspild</p>
</body>
</html>
