<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark Mod Madspild</title>
    <link rel="stylesheet" href="/css/frontstyle.css">
</head>

<body>
<header>
    <img src="/images/KorrektLogo.png" alt="Danmark mod Madspild logo" class="header-logo">
</header>
<div class="div1">
    <h1>Velkommen til Danmark mod madspild!</h1>
    <p>Vælg hvilken brugergruppe du tilhører for at komme i gang.</p>
</div>

<div class="brugergruppe-container">
    <div class="brugergruppe-box">
        <a href="/forbruger">
            <img src="/images/logo1.png" alt="Forbruger" class="forside-billeder">
        </a>
        <h3>Forbruger</h3>
    </div>

    <div class="brugergruppe-box">
        <a href="/virksomhed">
            <img src="/images/logo2virksomheder.png" alt="Virksomhed" class="forside-billeder">
        </a>
        <h3>Virksomhed</h3>
    </div>

    <div class="brugergruppe-box">
        <a href="/organisation">
            <img src="/images/logo3.png" alt="Organisation" class="forside-billeder">
        </a>
        <h3>Organisation</h3>
    </div>
</div>


</body>
</html>