<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virksomhed</title>
    <link rel="stylesheet" href="/virksomhed.css">
</head>
<body>


<div class="home-button-container">
    <form th:action="@{/}" method="get">
        <button type="submit" class="home-button">
            <img src="/images/HomeButtonLogo.png" alt="Home" class="home-logo">
        </button>
    </form>
</div>

<div class="main-container">
    <h2>Velkommen Virksomhed</h2>

    <div class="button-container">
        <form th:action="@{/virksomhed-login}" method="get">
            <button type="submit" class="button">Login</button>
        </form>

        <form th:action="@{/virksomhed-signup}" method="get">
            <button type="submit" class="button">Sign Up</button>
        </form>
    </div>
</div>



</body>
</html>
