<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Virksomhed</title>
    <link rel="stylesheet" href="virksomhed.css">
</head>
<body>

<div class="home-button-container">
    <form th:action="@{/}" method="get">
        <!-- Home Button with Image -->
        <button type="submit" class="home-button">
            <img src="/images/logo.png" alt="Home" class="Logo">
        </button>
    </form>
</div>


<div class="form-container">
    <h2>Opret Virksomhedsprofil</h2>
    <form th:action="@{/virksomhed-signup}" method="post">
        <div class="form-group">
            <label for="virksomhedsNavn">Business Name:</label>
            <input type="text" id="virksomhedsNavn" name="virksomhedsnavn" required>
        </div>
    </form>
</div>


</body>
</html>